// css grid 
.d {
    &-grid {
        display: grid;
    }
}

//example for grid 
//https://codepen.io/raghavd17/pen/LeNVPK
.grid {
    display: grid;
    &--12 {
        grid-gap: 10px;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
    }
    &--auto-fill {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    } // it will fill tilll the space is availabe 
    &--auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    } // it will fit all the element in same row 
    &-col-1 {
        grid-column: span 1;
    }
    &-col-2 {
        grid-column: span 2;
    }
    &-col-3 {
        grid-column: span 3;
    }
    &-col-4 {
        grid-column: span 4;
    }
    &-col-5 {
        grid-column: span 5;
    }
    &-col-6 {
        grid-column: span 6;
    }
    &-col-7 {
        grid-column: span 7;
    }
    &-col-8 {
        grid-column: span 8;
    }
    &-col-9 {
        grid-column: span 9;
    }
    &-col-10 {
        grid-column: span 10;
    }
    &-col-11 {
        grid-column: span 11;
    }
    &-col-12 {
        grid-column: span 12;
    }
}

.justify {
    &-self {
        &-start {
            justify-self: start;
        }
        &-center {
            justify-self: center
        }
        &-end {
            justify-self: end;
        }
        &-end {
            justify-self: stretch
        }
    }
    &-items {
        &-start {
            justify-items: start;
        }
        &-center {
            justify-items: center;
        }
        &-end {
            justify-items: end;
        }
        &-stretch {
            justify-items: stretch;
        }
    }
}