// css grid 
.d {
    &-grid {
        @include grid;
    }
}

//example for grid 
//https://codepen.io/raghavd17/pen/LeNVPK
.grid {
    @include grid;
    &--12 {
        grid-gap: 10px;
        width: 100%;
        // grid-template-columns: repeat(12, 1fr);
        @include cols(12, end);
    }
    &--auto-fill {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    } // it will fill tilll the space is availabe 
    &--auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    } // it will fit all the element in same row 
    
}

.justify {
    &-self {
        &-start {
            justify-self: start;
        }
        &-center {
            justify-self: center
        }
        &-end {
            justify-self: end;
        }
        &-end {
            justify-self: stretch
        }
    }
    &-items {
        &-start {
            justify-items: start;
        }
        &-center {
            justify-items: center;
        }
        &-end {
            justify-items: end;
        }
        &-stretch {
            justify-items: stretch;
        }
    }
}


// new css for grid 

/// need to work on this 

.grid {
    @include grid;
    grid-gap: 10px;
    width: 100%;
    @include cols(12, end);
    grid-gap: 10px;
}
.auto-fill {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-col-1 {
  @include col-span(1);
}
.grid-col-2 {
  @include col-span(2);
}
.grid-col-3 {
  @include col-span(3);
}
.grid-col-4 {
  @include col-span(4);
}
.grid-col-5 {
  @include col-span(5);
}
.grid-col-6 {
  @include col-span(6);
}
.grid-col-7 {
  @include col-span(7);
}
.grid-col-8 {
  @include col-span(8);
}
.grid-col-9 {
  @include col-span(9);
}
.grid-col-10 {
  @include col-span(10);
}
.grid-col-11 {
  @include col-span(11);
}
.grid-col-12 {
  @include col-span(12);
}

.item {
    padding: 10px;
      color:#fff;
    background: violet;
    text-align: center;		
  } // .item end 
  